body {
    height: 100%;
    text-align: center;
    display: grid;
    place-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    width: 1200px;
    height: 900px;
    background: url(/img/FONDO.jpg);
    background-size: contain;
}

.cards {
    height: 81%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.cards.one {
    height: 700px;
    width: 320px;
    background-image: url(/img/LOGO.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: 20%;
}

.cards.two {
    margin-top: 5%;
}

.cards.thee {
    margin-top: 5%;
    margin-right: 20%;
}

input,
button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

#pokemonInput1,
#pokemonInput2 {
    margin-top: 20px;
}

.pk-img {
    height: 300px;
    transition: 0.5s;
}

.pk-img:hover {
    transform: scale(1.2);
}

.pk-name {
    color: rgb(0, 0, 0);
    font-size: 1.7rem;
}